Package: com.ps.cameragridflipswitch
Name: Camera Grid Flipswitch
Depends: mobilesubstrate, com.a3tweaks.flipswitch, firmware (>= 11.0)
Provides: org.thebigboss.cameragridfs
Replaces: org.thebigboss.cameragridfs
Conflicts: org.thebigboss.cameragridfs
Version: 1.0.0
Architecture: iphoneos-arm
Description: Flipswitch toggle for camera grid.
Maintainer: PoomSmart
Author: PoomSmart
Section: Addons (Flipswitch)
